:root {
  --yellow-logo-color: #fdff00;
  --black-logo-color: #000;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(60deg, #303030, #000);
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;  /* main-axis, for dir=row -> left to right */
  align-items: center;      /* cross-axis */
}

.main-oval {
  width: 230px;
  height: 130px;
  background-color: var(--yellow-logo-color);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid var(--black-logo-color);
}

.logo {
  position: absolute;
  width: 212px;
  height: 112px;
  background-color: var(--black-logo-color);
  border-radius: 50%;
}

.ovals {
  position: absolute;
  background-color: var(--yellow-logo-color);
}

/* TOP PART OF SYMBOL */

.top-ovals {
  width: 37px;
  height: 40px;
  top: 0;
}

#top-left-oval {
  border-radius: 50% 0% 50% 50%;
  left: 57px;
}

#top-right-oval {
  border-radius: 0% 50% 50% 50%;
  right: 57px;
}

#ears {
  position: absolute;
  top: 0;
  left: 94px;
  width: 12px;
  border-bottom: 12px solid var(--yellow-logo-color);
  border-left: 6px solid var(--black-logo-color);
  border-right: 6px solid var(--black-logo-color);
  rotate: 180deg;
}


/* BOTTOM PART OF SYMBOL */

.bottom-outer-ovals {
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
}

#bottom-left-outer-oval {
  left: 44px;
  rotate: -41deg;
}

#bottom-right-outer-oval {
  right: 44px;
  rotate: 41deg;
}

.bottom-inner-ovals {
  width: 38px;
  height: 70px;
  border-radius: 50%;
  top: 73px;
}

#bottom-left-inner-oval {
  left: 68px;
  rotate: -15deg;
}

#bottom-right-inner-oval {
  right: 68px;
  rotate: 15deg;
}
